.ImageShowcase {
  height: 100%;
  width: 100%;
}

.ImageShowcase > .innerBox {
  width: 80%;
  margin: 0 auto;
  height: 100px;
  padding: 5px;
  overflow-x: scroll;
  white-space: nowrap;
}

.ImageShowcase > .innerBox > .imgBox {
  width: 120px;
  height: inherit;
  display: inline-block;
  background-color: cornflowerblue;
}

.ImageShowcase > .innerBox > .imgBox:not(:first-child) {
  margin-left: 10px;
}

/* ImageContainer Style */

.ImageContainer {
  height: 100%;
  width: 80%;
  /*利用外層把overflow 隱藏起來*/
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
}

.ImageContainer > .innerBox {
  width: 100%;
  margin: 0 auto;
  height: 400px;
  padding: 5px 0px;
  overflow-x: visible;
  white-space: nowrap;
  /* transition: 1s transform ease-out; */
}

.ImageContainer > .innerBox > .imgBox {
  width: 100%;
  height: inherit;
  display: inline-block;
  background-color: cornflowerblue;
}
.ImageContainer > .imgSelection {
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageContainer > .imgSelection > .imgSelectionDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0px 5px;
}
.ImageContainer > .imgSelection > .imgSelectionDot.selected {
  background-color: orangered;
}
.ImageContainer > .prev::before {
  content: "\2329";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 65px;
  height: 65px;
  left: -30px;
  top: 40%;
  font-size: 3rem;
  cursor: pointer;
}
.ImageContainer > .next::before {
  content: "\232A";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 65px;
  height: 65px;
  right: -30px;
  top: 40%;
  font-size: 3rem;
  cursor: pointer;
}

.ImageContainer > .next {
  background-color: orangered;
}

.ImageContainer > .imgSelection > .imgSelectionDot:hover {
  cursor: pointer;
}

.ImageContainer > .innerBox > .imgBox > img {
  width: 100%;
  height: 100%;
}
